body {
    font-family: 'Press Start P', sans-serif;
    margin: 0;
    padding: 0;
    background-color: hsla(182, 33%, 79%, 0.929);
    color: #333;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.left, .right {
    margin: 20px;
    max-width: 600px;
}

.left h1 {
    color: #2c2f50;
}

.ingredients h2, .instructions h2, .links h2, .youtube-video h3 {
    color: #040c11;
}

.image-section img {
    max-width: 100%;
    border-radius: 5px;
}

.nutrition {
    font-size: 14px;
    color: #b11717;
}


a {
    color: #04021a;
    text-decoration: none;
}

a:hover {
    background-color: #1abc9c; 
    color: #fff; 
}